:root {
    --main-border-radius: 5px;
    --content-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #E5E5E5;
    content: "image-viewer-active"; /* Will be unset by @media when the screen is too small for the image viewer */
}

a:link, a:visited {
    color: #004D8E;
    text-decoration: none;
}

a:hover, a:active {
    color: #008AFF;
    text-decoration: underline;
}

button.sarifweb-button {
    background: #DADADA;
    background: -moz-linear-gradient(top, #F2F2F2 0%, #F2F2F2 50%, #DADADA 100%);
    background: -webkit-linear-gradient(top, #F2F2F2 0%, #F2F2F2 50%, #DADADA 100%);
    background-image: linear-gradient(to bottom, #F2F2F2 0%, #F2F2F2 50%, #DADADA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F2F2F2", endColorstr="#DADADA", GradientType=0);
    border: 2px solid #D2D2D2;
}

button:not([disabled]) {
    cursor: pointer;
}

button:disabled {
    background-image: none;
}

button.sarifweb-button:not([disabled]):hover, button.sarifweb-button:active {
    border: solid 2px #008AFF !important;
    background-color: #E6EDF3 !important;
    color: #008AFF;
}

#pageContainer {
    margin: auto;
    max-width: 1200px;
}

header {
    align-items: center;
    background-color: #FFFFFF;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    height: 50px;
}

header > div {
    flex-grow: 0;
}

.header-site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 63px;
    margin-right: 9px;
}

#headerHomeLink:link, #headerHomeLink:visited,
#headerHomeLink:hover, #headerHomeLink:active {
    color: #000;
    text-decoration: none;
}

.header-version-badge {
    background-color: #FFCC00;
    border: solid 1px #000;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 3px 6px;
    white-space: nowrap;
}

.header-nav-strip {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#headerNavItems {
    display: flex;
    flex: 1;
    justify-content: center;
}

#headerNavItems a {
    margin: 0px 25px;
}

.header-nav-item {
    font-family: var(--content-font-family);
    font-size: 14px;
    font-weight: bold;
}

#headerNavValidator {
    margin-right: 58px;
    text-align: right;
}

footer {
    align-items: center;
    background: #4D4D4D;
    background: -moz-linear-gradient(top, #4D4D4D 0%, #4D4D4D 60%, #373737 100%);
    background: -webkit-linear-gradient(top, #4D4D4D 0%, #4D4D4D 60%, #373737 100%);
    background-image: linear-gradient(to bottom, #4D4D4D 0%, #4D4D4D 60%, #373737 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4D4D4D", endColorstr="#373737", GradientType=0);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #FFFFFF;
    display: flex;
    font-family: var(--content-font-family);
    font-size: 12px;
    justify-content: center;
    height: 145px;
}

footer p {
    margin: 0;
    text-align: center;
}