#imageViewer {
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    background-color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#imageViewerDialog {
    animation-name: reveal;
    animation-duration: 0.2s;
    border: 4px solid ActiveBorder;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#imageViewerTitleBar {
    background-color: ActiveBorder;
    display: flex;
    padding: 3px 5px 5px 5px;
}

#imageViewerTitle {
    align-self: stretch;
    color: #000;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#imageViewerCloseButton {
    background-color: #000;
    border: solid 1px #000;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    flex: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
    padding: 3px 6px;
    text-wrap: none;
    user-select: none;
}

#imageViewerImage {
    margin: auto;
    height: 85vmin;
    max-height: 840px;
    max-width: 1260px;
}

.image-viewer-button {
    background-color: #000;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

.button-invert-colors {
    background-color: #FFF;
    color: #000;
}

.button-left {
    left: 0%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

.button-right {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}