#validatorSection {
    padding: 0px 70px 30px 70px;
}

#validatorContainer {
    display: flex;
    flex-direction: column;
    height: 65vmin;
}

#validatorToolbar {
    align-items: flex-start;
    display: flex;
    margin-bottom: 4px;
}

#validatorToolbar[data-disabled] {
    color: #9c9c9c;
}

#validatorToolbar > div {
    display: flex;
}

#validatorToolbar .toolbar-button {
    margin-left: 3px;
    padding: .4em .2em;
}

#validatorToolbar .toolbar-button .ui-icon {
    font-size: 20px;
}

#leftToolbarGroup {
    align-items: flex-start;
    flex: 1;
    padding-right: 30px;
}

#ruleList_ms {
    height: 32px;
    padding-left: 15px;
    padding-right: 5px;
}

.ui-multiselect-menu {
    box-shadow: var(--menu-box-shadow);
    z-index: 99;
}

.ui-multiselect-header {
    padding: 3px 0 1px 1px;
}

.ui-multiselect-close {
    display: none;
}

#resultPosition,
#ruleDescription {
    font-family: var(--content-font-family);
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

#resultPosition {
    align-items: center;
    align-self: flex-start;
    display: flex;
    margin-top: 10px;
    user-select: none;
}

#ruleDescription {
    align-self: center;
    width: 100%;
}

#ruleDescription .no-errors {
    color: #00aa00;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

#prevResultButton span,
#nextResultButton span {
    font-weight: bold;
}

#resultPositionSeparator {
    margin-left: 2px;
    margin-right: 2px;
}

#utilitiesMenu {
    box-shadow: var(--menu-box-shadow);
    display: none;
    position: absolute;
    z-index: 100;
}

#utilitiesMenu .ui-menu {
    box-shadow: var(--menu-box-shadow);
}

#utilitiesMenu .ui-widget-header div {
    padding-left: 5px;
}

#utilitiesMenu > .ui-menu-item {
    font-weight: bold;
}

#utilitiesMenu .ui-menu-item-wrapper {
    white-space: nowrap;
}

#utilitiesMenuThemesFlyout .ui-menu-item-wrapper {
    font-size: .8em;
}

#utilitiesMenuThemesFlyout .ui-icon-check {
    visibility: hidden;
}

#utilitiesMenuThemesFlyout .selected-theme .ui-icon-check {
    visibility: visible;
}

#editor {
    flex: 1;
    border: 4px solid #000;
}

#validatorFooter {
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
}

#resultDetails {
    font-family: var(--content-font-family);
    max-height: 80px;
    overflow-y: auto;
}

.ui-selectmenu-menu .ui-menu {
    max-height: 400px;
}

.sarif-error {
    background-color: #ffcee4 !important;
    position: absolute;
    z-index: 3;
}

.sarif-error-gutter {
    background-color: #e30613 !important;
    color: #fff;
}

.drop-area {
    background-color: #b5b5b5;
    display: table;
    height: 70px;
    cursor: pointer;
    outline: 2px dashed #555;
    outline-offset: -5px;
    text-align: center;
    transition: outline-offset .1s ease-in-out, background-color .1s linear;
    width: 100%;
}

.drop-area-active,
.drop-area:focus {
    background-color: #77bafa;
    color: #000;
    outline: 2px dashed #000;
    outline-offset: -10px;
}

.drop-area-text {
    display: table-cell;
    font-family: var(--content-font-family);
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    vertical-align: middle;
}

.drop-area-active .drop-area-text-input {
    color: #000;
}

.drop-area-text-input {
    color: #333;
}

.drop-area-text-busy {
    color: #00549c;
}

.drop-area-busy {
    display: flex;
    justify-content: center;
}

.drop-area-busy > div {
    margin: 0px 5px;
}

#busyText {
    align-self: center;
}

.drop-area-text-complete {
    color: #000;
}

.drop-area-text-error {
    color: #f2000f;
}

.drop-area-text-busy,
.drop-area-text-complete,
.drop-area-text-error {
    display: none;
}

.drop-area.is-busy .drop-area-text-input,
.drop-area.is-complete .drop-area-text-input,
.drop-area.is-error .drop-area-text-input {
    display: none;
}

.drop-area.is-busy .drop-area-text-busy {
    display: table-cell;
}

.drop-area.is-complete .drop-area-text-complete {
    display: table-cell;
}

.drop-area.is-error .drop-area-text-error {
    display: table-cell;
}

#dropSection {
    padding-bottom: 30px;
    padding-top: 20px;
}

#resultsSection {
    /*display: none;*/
    padding-bottom: 50px;
    padding-top: 0px;
}

#pageBlanket {
    animation-name: fadeIn;
    animation-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    visibility: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}