#validatorSection {
    padding: 0px 70px 30px 70px;
}

#validatorContainer {
    display: flex;
    flex-direction: column;
    height: 65vmin;
}

#validatorToolbar {
    align-items: flex-start;
    display: flex;
    margin-bottom: 4px;
}

#validatorToolbar[data-disabled] {
    color: #9c9c9c;
}

#validatorToolbar > div {
    display: flex;
}

#validatorToolbar button {
    margin-left: 3px;
    padding: .4em .2em;
}

#leftSide {
    align-items: flex-start;
    flex: 1;
}

#rightSide .ui-icon {
    font-size: 20px;
}

#resultPosition,
#ruleDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

#ruleDescription {
    align-self: center;
    width: 100%;
}

#prevResultButton span,
#nextResultButton span {
    font-weight: bold;
}

#resultPosition {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

#resultPositionSeparator {
    margin-left: 2px;
    margin-right: 2px;
}

#utilitiesMenu {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    z-index: 100;
}

#utilitiesMenu .ui-menu {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

#utilitiesMenu .ui-widget-header div {
    padding-left: 5px;
}

#utilitiesMenu > .ui-menu-item {
    font-weight: bold;
}

#utilitiesMenu .ui-menu-item-wrapper {
    white-space: nowrap;
}

#utilitiesMenu .menu-check-hidden {
    visibility: hidden;
}

#utilitiesMenu .selected-theme .ui-icon {
    visibility: visible;
}

#editor {
    flex: 1;
    border: 4px solid #000;
}

#validatorFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}

.ui-selectmenu-menu .ui-menu {
    max-height: 400px;
}

.sarif-error {
    background-color: #ffcee4 !important;
    position: absolute;
    z-index: 3;
}

.sarif-error-gutter {
    background-color: #e30613 !important;
    color: #fff;
}

.drop-area {
    background-color: #b5b5b5;
    display: table;
    height: 70px;
    cursor: pointer;
    outline: 2px dashed #555;
    outline-offset: -5px;
    text-align: center;
    transition: outline-offset .1s ease-in-out, background-color .1s linear;
    width: 100%;
}

.drop-area-active, .drop-area:focus {
    background-color: #77bafa;
    color: #000;
    outline: 2px dashed #000;
    outline-offset: -10px;
}

.drop-area-text {
    display: table-cell;
    font-family: var(--content-font-family);
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    vertical-align: middle;
}

.drop-area-active .drop-area-text-input {
    color: #000;
}

.drop-area-text-input {
    color: #333;
}

.drop-area-text-busy {
    color: #00549c;
}

.drop-area-busy {
    display: flex;
    justify-content: center;
}

.drop-area-busy > div {
    margin: 0px 5px;
}

#busyText {
    align-self: center;
}

.drop-area-text-complete {
    color: #000;
}

.drop-area-text-error {
    color: #f2000f;
}

.drop-area-text-busy, .drop-area-text-complete, .drop-area-text-error {
    display: none;
}

.drop-area.is-busy .drop-area-text-input,
.drop-area.is-complete .drop-area-text-input,
.drop-area.is-error .drop-area-text-input {
    display: none;
}

.drop-area.is-busy .drop-area-text-busy {
    display: table-cell;
}

.drop-area.is-complete .drop-area-text-complete {
    display: table-cell;
}

.drop-area.is-error .drop-area-text-error {
    display: table-cell;
}

#dropSection {
    padding-bottom: 30px;
    padding-top: 20px;
}

#resultsSection {
    /*display: none;*/
    padding-bottom: 50px;
    padding-top: 0px;
}
