#validatorSection {
    padding: 0px 70px 30px 70px;
}

#validatorContainer {
    display: flex;
    flex-direction: column;
    height: 65vmin;
}

#validatorToolbar {
    align-items: flex-start;
    display: flex;
    margin-bottom: 4px;
}

#validatorToolbar[data-disabled] {
    color: #9c9c9c;
}

#validatorToolbar > div {
    display: flex;
}

#validatorToolbar button {
    margin-left: 3px;
}

#validatorToolbar button > * {
    margin-bottom: -3px;
    margin-top: 3px;
}

#leftSide {
    flex: 1;
}

#downloadLog,
#revalidate {
    display: flex;
}

#downloadLog img,
#revalidate img {
    margin-right: 5px;
}

#resultPosition,
#ruleDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

#resultPosition {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

#resultPositionCurrent {
    line-height: 8px;
}

#resultPositionSeparator {
    line-height: 3px;
}

#editor {
    flex: 1;
    border: 4px solid #000;
}

#validatorFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}

.ui-selectmenu-menu .ui-menu {
    max-height: 400px;
}

.sarif-error {
    background-color: #ffcee4 !important;
    position: absolute;
    z-index: 3;
}

.sarif-error-gutter {
    background-color: #e30613 !important;
    color: #fff;
}

.drop-area {
    background-color: #b5b5b5;
    display: table;
    height: 70px;
    cursor: pointer;
    outline: 2px dashed #555;
    outline-offset: -5px;
    text-align: center;
    transition: outline-offset .1s ease-in-out, background-color .1s linear;
    width: 100%;
}

.drop-area-active {
    background-color: #77bafa;
    color: #000;
    outline: 2px dashed #000;
    outline-offset: -10px;
}

.drop-area-text {
    color: #fff;
    display: table-cell;
    font-family: var(--content-font-family);
    font-size: 16px;
    user-select: none;
    vertical-align: middle;
}

.drop-area-text-input {
    text-shadow: 0 0 1px #000;
}

.drop-area-text-busy {
    color: #00549c;
    font-weight: bold;
}

.drop-area-text-complete {
    color: #000;
    font-weight: bold;
}

.drop-area-text-busy, .drop-area-text-complete, .drop-area-text-error {
    display: none;
}

.drop-area.is-busy .drop-area-text-input,
.drop-area.is-complete .drop-area-text-input {
    display: none;
}

.drop-area.is-busy .drop-area-text-busy {
    display: table-cell;
}

.drop-area.is-complete .drop-area-text-complete {
    display: table-cell;
}

#dropSection {
    padding-bottom: 30px;
    padding-top: 20px;
}

#resultsSection {
    /*display: none;*/
    padding-bottom: 50px;
    padding-top: 0px;
}

#responseMessage {
    font-family: var(--content-font-family);
    font-size: 12px;
}

.heading {
    font-family: var(--content-font-family);
    font-size: 16px;
    font-weight: bold;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

code, pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

pre {
    white-space: pre-wrap;
}
