@{
    ViewBag.Title = "SARIF Validator";
}

<link href="~/Content/Home.css" rel="stylesheet" />
<link href="~/Scripts/jqueryui/themes/redmond/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jqueryui/themes/redmond/theme.min.css" rel="stylesheet" />
<link href="~/Scripts/jqueryui/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Content/Validator.css" rel="stylesheet" />

<section id="dropSection" class="content-section gray-section">
    <div id="pageTitle" role="heading" aria-level="1" class="content-section-title">@ViewBag.Title</div>

    <form id="dropForm" role="region" aria-dropeffect="execute" aria-label="Click to browse for your log file" tabindex="0" method="post" action="@Url.Action("ValidateFilesAsync")" class="drop-area">
        <input id="fileInput" name="postedFiles" type="file" style="display: none;">
        <div class="drop-area-text drop-area-text-input">Drop your SARIF file here or click to browse</div>
        <div class="drop-area-text drop-area-text-busy">Validating&hellip;</div>
        <div class="drop-area-text drop-area-text-complete">Validation complete!</div>
        <div class="drop-area-text drop-area-text-error">Error</div>
    </form>
</section>

<section id="validatorSection" role="region" aria-labelledby="pageTitle" class="content-section gray-section">
    <div id="validatorContainer">
        <div id="validatorToolbar" data-disabled>
            <div id="leftSide">
                <select id="ruleList" role="combobox" aria-label="Rule list" disabled>
                    <option value=""></option>
                </select>
                <div id="ruleDescription"></div>
            </div>
            <div id="rightSide">
                <button id="prevResult" aria-label="Previous result" disabled>
                    <img src="~/Images/prev.png" alt="Previous result" />
                </button>
                <div id="resultPosition">
                    <div id="resultPositionCurrent" aria-label="Result number">0</div>
                    <div id="resultPositionSeparator" aria-label="of">/</div>
                    <div id="resultPositionCount">0</div>
                </div>
                <button id="nextResult" aria-label="Next result" disabled>
                    <img src="~/Images/next.png" alt="Next result" />
                </button>
                <button id="downloadLog" aria-label="Download log file" disabled>
                    <img src="~/Images/download.png" alt="Download icon" />
                    <div>Download</div>
                </button>
                <button id="revalidate" aria-label="Re-validate log file" disabled>
                    <img src="~/Images/reload.png" alt="Reload icon" />
                    <div>Re-validate</div>
                </button>
            </div>
        </div>
        <div id="editor" role="textbox" aria-label="Log file editor"></div>
        <div id="validatorFooter">
            <select id="themeList" role="combobox" aria-label="Editor color theme" disabled>
                <optgroup label="Light">
                    <option value="ace/theme/chrome">Chrome</option>
                    <option value="ace/theme/clouds">Clouds</option>
                    <option value="ace/theme/crimson_editor">Crimson Editor</option>
                    <option value="ace/theme/dawn">Dawn</option>
                    <option value="ace/theme/dreamweaver">Dreamweaver</option>
                    <option value="ace/theme/eclipse">Eclipse</option>
                    <option value="ace/theme/github">GitHub</option>
                    <option value="ace/theme/iplastic">IPlastic</option>
                    <option value="ace/theme/solarized_light">Solarized Light</option>
                    <option value="ace/theme/textmate">TextMate</option>
                    <option value="ace/theme/tomorrow">Tomorrow</option>
                    <option value="ace/theme/xcode">XCode</option>
                    <option value="ace/theme/kuroir">Kuroir</option>
                    <option value="ace/theme/katzenmilch">KatzenMilch</option>
                    <option value="ace/theme/sqlserver" selected>SQL Server</option>
                </optgroup>
                <optgroup label="Dark">
                    <option value="ace/theme/ambiance">Ambiance</option>
                    <option value="ace/theme/chaos">Chaos</option>
                    <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                    <option value="ace/theme/dracula">Dracula</option>
                    <option value="ace/theme/cobalt">Cobalt</option>
                    <option value="ace/theme/gruvbox">Gruvbox</option>
                    <option value="ace/theme/gob">Green on Black</option>
                    <option value="ace/theme/idle_fingers">idle Fingers</option>
                    <option value="ace/theme/kr_theme">krTheme</option>
                    <option value="ace/theme/merbivore">Merbivore</option>
                    <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                    <option value="ace/theme/mono_industrial">Mono Industrial</option>
                    <option value="ace/theme/monokai">Monokai</option>
                    <option value="ace/theme/pastel_on_dark">Pastel on dark</option>
                    <option value="ace/theme/solarized_dark">Solarized Dark</option>
                    <option value="ace/theme/terminal">Terminal</option>
                    <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                    <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                    <option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option>
                    <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option>
                    <option value="ace/theme/twilight">Twilight</option>
                    <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
                </optgroup>
            </select>
        </div>
    </div>
</section>

<!-- This hidden hyperlink is used by the Download button -->
<a id="downloadLink" style="display: none;">Download</a>

@section Scripts {
    <script src="~/Scripts/ace/ace.js"></script>
    <script src="~/Scripts/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var fileName = "";
            var editor = null;
            var markers = [];
            var currentRule = null;
            var currentResultIndex = -1;
            var toolbar = $("#validatorToolbar");
            var ruleList = $("#ruleList").selectmenu();
            var resultPositionCurrentText = $("#resultPositionCurrent");
            var resultPositionCountText = $("#resultPositionCount");
            var prevResultButton = $("#prevResult").button();
            var nextResultButton = $("#nextResult").button();
            var downloadButton = $("#downloadLog").button();
            var revalidateButton = $("#revalidate").button();

            var theme = getCookie("editorTheme");
            theme = theme ? theme : "ace/theme/sqlserver";
            var themeList = $("#themeList")
                .selectmenu()
                .val(theme)
                .selectmenu("refresh")
                .selectmenu("option", "position", { my: "left bottom", at: "left top", collision: "fit" });

            // Rules dictionary: key = rule ID, value = { description, results[ { line } ] }
            var rulesDictionary = {};

            // Adds a bare rule to the dictionary
            function addRule(ruleId, description) {
                rulesDictionary[ruleId] = {
                    description: description,
                    results: []
                };
            }

            // Creates HTML for a result and adds it to the corresponding rule's results array
            function addResult(ruleId, line) {
                rulesDictionary[ruleId].results.push({ line: line });
            }

            // Creates a SARIF log object from JSON, then processes rules and results
            function processResults(sarif) {
                rulesDictionary = {};
                var sarifLog = JSON.parse(sarif);
                var hasResults = false;

                for (var i = 0; i < sarifLog.runs.length; i++) {
                    var run = sarifLog.runs[i];

                    if (run.results.length > 0) {
                        hasResults = true;

                        if (run.resources && run.resources.rules) {
                            // Process rules
                            var rules = run.resources.rules;

                            for (var key in rules) {
                                var rule = rules[key];
                                var ruleId = rule.id;

                                if (!rulesDictionary[ruleId]) {
                                    var description = rule.shortDescription ? rule.shortDescription.text : rule.fullDescription.text;
                                    addRule(ruleId, description);
                                }
                            }

                            // Process results
                            for (var j = 0; j < run.results.length; j++) {
                                var result = run.results[j];

                                for (var k = 0; k < result.locations.length; k++) {
                                    // Get the startLine from the result location
                                    var startLine = result.locations[k].physicalLocation.region.startLine;
                                    addResult(result.ruleId, startLine);
                                }
                            }

                            // Now we know how many results we have for each rule, so populate the rules dropdown
                            var options = [];
                            for (var key in rulesDictionary) {
                                options.push("<option value='" + key + "'>" + key + " (" + rulesDictionary[key].results.length + ")</option>");
                            }

                            // Clear the dropdown, then add the rules and trigger a change event
                            clearRuleList();
                            $(ruleList).append(options.join("")).selectmenu("refresh").trigger("selectmenuchange");
                        }
                    }
                }

                if (!hasResults) {
                    rulesDictionary = {};
                    clearRuleList();
                    setResultPositionText(0, 0);
                    clearLineMarkers();
                    currentResultIndex = -1;

                    setTimeout(function () {
                        // Push this to another thread to allow the above settings to take effect
                        alert("No errors were found during validation!");
                    }, 0);
                }
            }

            // Downloads the complete text from the editor
            function saveTextAsFile() {
                var textToWrite = editor.getValue();
                var textFileAsBlob = new Blob([textToWrite], { type: "text/json" });

                var downloadLink = $("#downloadLink")[0];
                downloadLink.download = fileName;
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.click();

                window.URL.revokeObjectURL(textFileAsBlob);
            }

            // Sets a line marker in the editor
            function setLineMarker(line) {
                var range = new ace.Range(line - 1, 0, line - 1, Infinity);
                range.start = editor.session.doc.createAnchor(range.start);
                range.end = editor.session.doc.createAnchor(range.end);
                range.id = editor.session.addMarker(range, "sarif-error", "text", false);
                markers.push(range.id);
                //editor.session.addGutterDecoration(line - 1, "sarif-error-gutter");
            }

            // Clears all line markers in the editor
            function clearLineMarkers() {
                markers.forEach(function (id) {
                    editor.session.removeMarker(id);
                });
                markers = [];
            }

            function isSarifFile(fileName) {
                var ext = fileName.substr(fileName.lastIndexOf(".") + 1).toLowerCase();
                return ext == "sarif";
            }

            function setUpEditor(file) {
                return new Promise(function (resolve, reject) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        editor = ace.edit("editor", {
                            mode: "ace/mode/json",
                            theme: $(themeList).val(),
                            selectionStyle: "text",
                            showPrintMargin: false
                        });

                        // Get the target file text, excluding the header segment
                        editor.setValue(atob(reader.result.substring(reader.result.indexOf(',') + 1)));
                        editor.selection.clearSelection();

                        // Enable controls
                        setToolbarEnabled(true);
                        resolve();
                    };
                    reader.readAsDataURL(file);
                    fileName = file.name;
                });
            }

            function resetFileInput() {
                $fileInput.val(null);
            }

            function resetEditor() {
                if (editor) {
                    editor.setValue("");
                }

                clearRuleList();
                setToolbarEnabled(false);
                setResultPositionText(0, 0);
            }

            function setToolbarEnabled(enable) {
                var verb;
                var selector = "";

                if (enable) {
                    verb = "enable";
                    selector = ":disabled";
                    $(toolbar).removeAttr("data-disabled");
                }
                else {
                    verb = "disable";
                    $(toolbar).attr("data-disabled");
                }

                $("#validatorToolbar button" + selector).each(function (index, button) {
                    $(button).button(verb);
                });
                $(ruleList).selectmenu(verb);
                $(themeList).selectmenu(verb);
            }

            function clearRuleList() {
                $("#ruleList option").each(function (index, option) {
                    $(option).remove();
                })
                $(ruleList).selectmenu("refresh");
                $("#ruleDescription").text("");
            }

            function setResultPositionText(current, count) {
                $(resultPositionCurrentText).text(current);

                if (typeof count != "undefined") {
                    $(resultPositionCountText).text(count);
                }
            }

            function submitValidationRequest(file) {
                // Prevent duplicate submissions
                if ($dropForm.hasClass("is-busy")) {
                    return false;
                }

                resetEditor();

                // Confirm if the file is > 20 MB
                if (file.size > 20971520) {
                    if (!confirm("The file you have selected is large, and validating this file could take a long time. Do you want to continue?")) {
                        resetFileInput();
                        return;
                    }
                }

                $dropForm.addClass("is-busy").removeClass("is-complete").removeClass("is-error");

                var formData = new FormData();
                formData.append($fileInput.attr("name"), file);

                $.ajax({
                    url: $dropForm.attr("action"),
                    type: $dropForm.attr("method"),
                    data: formData,
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    complete: function () {
                        resetFileInput();
                        $dropForm.removeClass("is-busy");
                    },
                    success: function (data) {
                        $dropForm.addClass("is-complete");
                        setTimeout(function () {
                            $dropForm.removeClass("is-complete");
                        }, 5000);
                        setUpEditor(file)
                            .then(function () {
                                processResults(data.LogContents);
                            });
                    },
                    error: function (xmlhttprequest, textstatus, message) {
                        $dropForm.addClass("is-error");
                        var error = textstatus == "timeout" ?
                            "The validation request timed out." :
                            "An unknown error occurred.";
                        alert(error);
                    }
                });
            }

            $(ruleList).on("selectmenuchange", function () {
                var ruleId = $(this).val();
                currentRule = rulesDictionary[ruleId];
                currentResultIndex = 0;
                setResultPositionText(1, currentRule.results.length);

                clearLineMarkers();

                // Set line markers for each result corresponding to this rule
                currentRule.results.forEach(function (result) {
                    setLineMarker(result.line);
                });

                $("#ruleDescription").text(currentRule.description);
                
                setTimeout(function () {
                    editor.gotoLine(currentRule.results[0].line, 0, true);
                }, 0);
            });

            $(prevResultButton).on("click", function () {
                if (currentResultIndex > -1) {
                    if (currentResultIndex > 0) {
                        currentResultIndex--;
                    }
                    else {
                        currentResultIndex = currentRule.results.length - 1;
                    }

                    setResultPositionText(currentResultIndex + 1);
                    editor.gotoLine(currentRule.results[currentResultIndex].line, 0, true);
                }
            });

            $(nextResultButton).on("click", function () {
                if (currentResultIndex > -1) {
                    if (currentResultIndex < currentRule.results.length - 1) {
                        currentResultIndex++;
                    }
                    else {
                        currentResultIndex = 0;
                    }

                    setResultPositionText(currentResultIndex + 1);
                    editor.gotoLine(currentRule.results[currentResultIndex].line, 0, true);
                }
            });

            $(downloadButton).on("click", function () {
                saveTextAsFile();
            });

            $(revalidateButton).on("click", function () {
                // Disable controls
                setToolbarEnabled(false);
                $dropForm.addClass("is-busy").removeClass("is-complete").removeClass("is-error");

                $.ajax({
                    url: "@Url.Action("ValidateJsonAsync")",
                    type: "POST",
                    data: JSON.stringify({ json: editor.getValue() }),
                    dataType: "json",
                    cache: false,
                    contentType: "application/json",
                    processData: false,
                    complete: function () {
                        // Enable controls
                        setToolbarEnabled(true);
                        $dropForm.removeClass("is-busy");
                    },
                    success: function (data) {
                        $dropForm.addClass("is-complete");
                        setTimeout(function () {
                            $dropForm.removeClass("is-complete");
                        }, 5000);
                        processResults(data.LogContents);
                    },
                    error: function (xmlhttprequest, textstatus, message) {
                        $dropForm.addClass("is-error");
                        setTimeout(function () {
                            $dropForm.removeClass("is-error");
                        }, 5000);
                        var error = textstatus == "timeout" ?
                            "The re-validation request timed out." :
                            "An unknown error occurred.";
                        alert(error);
                    }
                });
            })

            $(themeList).on("selectmenuchange", function () {
                var theme = $(this).val();
                editor.setTheme(theme);
                setCookie("editorTheme", theme, 365 * 10);
            });

            var $dropForm = $("#dropForm");
            var $fileInput = $("#fileInput");

            $fileInput.on("change", function (e) {
                var val = $(this).val();

                if (val != "") {
                    if (!isSarifFile(val)) {
                        alert("Only .sarif files are supported.");
                        $(this).val("");
                    }
                    else {
                        submitValidationRequest($(this)[0].files[0]);
                    }
                }
            });

            $dropForm.on("click", function (e) {
                $dropForm.blur();
                $fileInput[0].click();
            })
            .on("keypress", function (e) {
                if (e.key == "Enter" || e.key == " ") {
                    e.preventDefault();
                    e.stopPropagation();
                    $fileInput[0].click();
                }
            })
            .on("drag dragstart dragend dragover dragenter dragleave drop", function (e) {
                e.preventDefault();
                e.stopPropagation();
            })
            .on("dragover dragenter", function () {
                $dropForm.addClass("drop-area-active");
            })
            .on("dragleave dragend drop", function () {
                $dropForm.removeClass("drop-area-active");
            })
            .on("drop", function (e) {
                var file = e.originalEvent.dataTransfer.files[0];

                if (!isSarifFile(file.name)) {
                    alert("Only .sarif files are supported.");
                }
                else {
                    submitValidationRequest(file);
                }
            });
        });
    </script>
}