@{
    ViewBag.Title = "SARIF Log File Validation";
}
<h2>@ViewBag.Title</h2>

<div id="dropArea" class="drop-area">
    <div id="dropAreaText" class="drop-area-text">Drop your SARIF log file here to validate it</div>
</div>

<section id="resultsSection">
    <h4>Uploaded files:</h4>
    <ul class="list-group" id="uploadList"></ul>

    <h4>Response message:</h4>
    <pre id="responseText"></pre>
</section>

<style>
    .drop-area {
        background-color: #b5b5b5;
        border: black dashed 1px;
        color: #fff;
        display: table;
        height: 50px;
        text-align: center;
        text-shadow: 0 0 1px #000;
        width: 100%;
    }

    .drop-area-text {
        display: table-cell;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        vertical-align: middle;
    }

    .drop-area-text-busy {
        color: #000;
        font-weight: bold;
        text-shadow: 0 0 1px #fff;
    }

    .drop-area-text-complete {
        color: #0e0;
        font-weight: bold;
        text-shadow: 0 0 1px #000;
    }

    .active-drop {
        background-color: #77bafa;
        border: solid 2px #000;
        color: #000;
        opacity: 0.5;
    }

    #resultsSection {
        display: none;
    }
</style>

@section Scripts {
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dropArea').filedrop({
                url: '@Url.Action("ValidateFilesAsync")',
                allowedfileextensions: ['.sarif', '.json'],
                paramname: 'postedFiles',
                maxfiles: 1,
                dragOver: function () {
                    $('#dropArea').addClass('active-drop');
                },
                dragLeave: function () {
                    $('#dropArea').removeClass('active-drop');
                },
                drop: function () {
                    $('#dropArea').removeClass('active-drop');
                    $('#dropAreaText').addClass('drop-area-text-busy');
                    $('#dropAreaText').text('Validating file...');
                },
                uploadFinished: function (i, file, response, time) {
                    $('#uploadList').append('<li class="list-group-item">' + file.name + '</li>');
                    $('#responseText').text(response.LogContents);
                    $('#resultsSection').show();
                    $('#dropAreaText').addClass('drop-area-text-complete');
                    $('#dropAreaText').text('Validation complete!');
                }
            });
        });
    </script>
}