@{
    ViewBag.Title = "SARIF Log File Validator";
}

<section id="dropSection" class="content-section gray-section">
    <div class="content-section-title">@ViewBag.Title</div>

    <div id="dropArea" class="drop-area">
        <div id="dropAreaText" class="drop-area-text">Drop your SARIF log file here to validate it</div>
    </div>
</section>

<section id="resultsSection" class="content-section gray-section">
    <div class="heading">Response message:</div>
    <p id="responseMessage"></p>

    <div class="heading">SARIF log file contents:</div>
    <pre id="sarifLogFileContents"></pre>
</section>

<style>
    .drop-area {
        background-color: #b5b5b5;
        border: black dashed 1px;
        color: #fff;
        display: table;
        height: 50px;
        text-align: center;
        text-shadow: 0 0 1px #000;
        width: 100%;
    }

    .drop-area-text {
        display: table-cell;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        vertical-align: middle;
    }

    .drop-area-text-busy {
        color: #000;
        font-weight: bold;
        text-shadow: 0 0 1px #fff;
    }

    .drop-area-text-complete {
        color: #0e0;
        font-weight: bold;
        text-shadow: 0 0 1px #000;
    }

    .active-drop {
        background-color: #77bafa;
        border: solid 2px #000;
        color: #000;
        opacity: 0.5;
    }

    #dropSection {
        padding-bottom: 30px;
        padding-top: 20px;
    }

    #resultsSection {
        display: none;
        padding-bottom: 50px;
        padding-top: 0px;
    }

    #responseMessage {
        font-family: var(--content-font-family);
        font-size: 12px;
    }

    .heading {
        font-family: var(--content-font-family);
        font-size: 16px;
        font-weight: bold;
    }

    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.428571429;
        color: #333333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }

    code, pre {
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    }

    pre {
        white-space: pre-wrap;
    }
</style>

@section Scripts {
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dropArea').filedrop({
                fallback_dropzoneClick: false,
                url: '@Url.Action("ValidateFilesAsync")',
                allowedfileextensions: ['.sarif', '.json'],
                paramname: 'postedFiles',
                maxfiles: 1,
                dragOver: function () {
                    $('#dropArea').addClass('active-drop');
                },
                dragLeave: function () {
                    $('#dropArea').removeClass('active-drop');
                },
                drop: function () {
                    $('#dropArea').removeClass('active-drop');
                    $('#dropAreaText').removeClass('drop-area-text-complete');
                    $('#dropAreaText').addClass('drop-area-text-busy');
                    $('#dropAreaText').text('Validating file...');
                },
                uploadFinished: function (i, file, response, time) {
                    $('#uploadList').append('<li class="list-group-item">' + file.name + '</li>');
                    $('#responseMessage').text(response.Message);
                    $('#sarifLogFileContents').text(response.LogContents);
                    $('#resultsSection').show();
                    $('#dropAreaText').removeClass('drop-area-text-busy');
                    $('#dropAreaText').addClass('drop-area-text-complete');
                    $('#dropAreaText').text('Validation complete!');
                }
            });
        });
    </script>
}