.loader,
.loader:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.loader {
    font-size: 10px;
    text-indent: -9999em;
    border-top: .4em solid rgba(0, 84, 156, 0.2);
    border-right: .4em solid rgba(0, 84, 156, 0.2);
    border-bottom: .4em solid rgba(0, 84, 156, 0.2);
    border-left: .4em solid #00549c;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.0s infinite linear;
    animation: load8 1.0s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
