@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Michael Fanning</strong> <a href="mailto:mikefan@microsoft.com">mikefan@microsoft.com</a><br />
    <strong>Larry Golding</strong>   <a href="mailto:v-lgold@microsoft.com">v-lgold@microsoft.com</a>
</address>