@{
    ViewBag.Title = "SARIF Home";
}

<link href="~/Content/Home.css" rel="stylesheet" />
<link href="~/Content/Home-Media-Mobile.css" rel="stylesheet" media="only screen and (min-width: 320px) and (max-width: 480px)" />
<link href="~/Content/Home-Media-Mobile-Landscape.css" rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 767px)" />
<link href="~/Content/Home-Media-Tablet.css" rel="stylesheet" media="only screen and (min-width: 768px) and (max-width: 1024px)" />
<link href="~/Content/Home-Media-Tablet-Landscape.css" rel="stylesheet" media="only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)" />

<section id="hero" role="region" aria-label="SARIF Hero">
    <div id="heroContentGrid">
        <div id="heroLogo">
            <img src="~/Images/triskelion.png" role="img" aria-label="SARIF logo" />
        </div>
        <div id="heroTitle" role="heading" aria-level="1">SARIF</div>
        <div id="heroTagline">
            The Static Analysis Results Interchange Format (SARIF)
            <br />
            defines a standard format for the output of static analysis tools.
        </div>
    </div>
</section>

<section id="specSection" role="region" aria-labelledby="specSectionTitle" class="content-section white-section">
    <a name="Specification"></a>
    <div id="specSectionTitle" role="heading" aria-level="2" class="content-section-title">Specification and documentation</div>
    <div class="content-section-text content-section-description">
        The <b>Static Analysis Results Interchange Format (SARIF)</b> is an
        <a href="https://www.oasis-open.org/" target="_blank" class="strong-link">OASIS</a> <a href="https://www.oasis-open.org/news/announcements/static-analysis-results-interchange-format-sarif-v2-1-0-from-the-sarif-tc-is-an-a" target="_blank" class="strong-link">Committee Specification</a>. The information and tools
        on this web site apply to SARIF Version 2.1.0, the version approved by the OASIS <a href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=sarif" target="_blank" class="strong-link">SARIF Technical Committee</a>.
</div>
    <div id="specSectionButtons">
        <div id="specSectionButtons1">
            <button id="specSectionButtonTutorials" role="button" href="https://github.com/microsoft/sarif-tutorials" target="_blank" class="content-button sarifweb-button gray-section">Study the tutorials</button>
            <button id="specSectionButtonRead" role="button" href="https://docs.oasis-open.org/sarif/sarif/v2.1.0/cs01/" target="_blank" class="content-button sarifweb-button gray-section">Read the specification</button>
            <button id="specSectionButtonAsk" role="button" href="https://github.com/oasis-tcs/sarif-spec/issues/new" target="_blank" class="content-button sarifweb-button gray-section">Ask a question</button>
        </div>
        <div id="specSectionButtons2">
            <button id="specSectionButtonView" role="button" href="~/Validation" target="_self" class="content-button sarifweb-button gray-section">
                View and validate your SARIF files
                <p class="button-subtitle">
                    Upload and explore your SARIF file or
                    <br />
                    browse one of the samples.
                </p>
            </button>
        </div>
    </div>
</section>

<section id="collabSection" role="region" aria-labelledby="collabSectionTitle" class="content-section gray-section">
    <a name="Collaborators"></a>
    <div id="collabSectionTitle" role="heading" aria-level="2" class="content-section-title">Collaborators</div>
    <div class="content-section-text content-section-description">
        The SARIF project is supported by a group of industry contributors.
    </div>
    <div id="collabSectionButtons" role="list" aria-labelledby="collabSectionTitle">
        <a href="http://www.kestreltechnology.com" target="_blank">
            <img role="listitem" aria-label="Kestrel Technology" src="~/Images/Logos/KestrelTechnology.png" alt="Kestrel Technology" />
        </a>
        <a href="https://www.grammatech.com/" target="_blank">
            <img role="listitem" aria-label="GrammaTech" src="~/Images/Logos/GrammaTech.png" alt="GrammaTech" />
        </a>
        <a href="https://www.microfocus.com/#" target="_blank">
            <img role="listitem" aria-label="Micro Focus" src="~/Images/Logos/MicroFocus.png" alt="Micro Focus" />
        </a>
        <a href="https://www.microsoft.com/" target="_blank">
            <img role="listitem" aria-label="Microsoft" src="~/Images/Logos/Microsoft.png" alt="Microsoft" />
        </a>
        <a href="https://semmle.com/" target="_blank">
            <img role="listitem" aria-label="Semmle" src="~/Images/Logos/Semmle.png" alt="Semmle" />
        </a>
        <a href="https://continuousassurance.org/" target="_blank">
            <img role="listitem" aria-label="SWAMP" src="~/Images/Logos/SWAMP.png" alt="SWAMP" />
        </a>
    </div>
</section>

<section id="toolsSection" role="region" aria-labelledby="toolsSectionTitle" class="content-section white-section">
    <a name="ToolsLibraries"></a>
    <div id="toolsSectionTitle" role="heading" aria-level="2" class="content-section-title">Tools &amp; Libraries</div>
    <div class="content-section-text content-section-description">
        A collection of tools offering facilities for producing, consuming, and validating files in the SARIF format.
        <br />
        The source code is in the <a href="https://github.com/Microsoft/sarif-sdk" target="_blank" class="strong-link">SARIF SDK GitHub repo</a>. We welcome your contributions!
    </div>
    <div id="toolsSectionContent">
        <div id="toolsSectionContentCsharp">
            <div id="toolsSectionPlatformLabelCSharp" class="tools-section-platform-label-large">
                C#
            </div>
            <div class="path-line-container">
                <svg class="stretch-vertical">
                    <line x1="50%" x2="50%" y1="0" y2="100%" class="stroke-1x"></line>
                    <line x1="0" x2="50%" y1="50%" y2="50%" class="stroke-1x"></line>
                    <line x1="50%" x2="100%" y1="0" y2="0" class="stroke-2x"></line>
                    <line x1="50%" x2="100%" y1="100%" y2="100%" class="stroke-2x"></line>
                </svg>
            </div>
            <div role="list" aria-labelledby="toolsSectionPlatformLabelCSharp" class="tools-item-list">
                <div role="listitem">
                    <div class="tools-item-description"><b>SDK</b> - Object model and utilities for reading and writing files in the SARIF format.</div>
                    <button id="toolsItemSdkLink" role="button" aria-label="View SARIF SDK NuGet package" href="https://www.nuget.org/packages/Sarif.Sdk/" target="_blank" class="tools-item-button sarifweb-button">
                        <div class="tools-item-button-icon">
                            <img src="~/Images/Nuget.png" alt="NuGet" />
                        </div>
                        <div>View Package</div>
                    </button>
                </div>
                <div role="listitem">
                    <div class="tools-item-description"><b>Driver</b> - Framework for creating a command line analysis tool which produces files in the SARIF format.</div>
                    <button id="toolsItemDriverLink" role="button" aria-label="View SARIF Driver NuGet package" href="https://www.nuget.org/packages/Sarif.Driver/" target="_blank" class="tools-item-button sarifweb-button">
                        <div class="tools-item-button-icon">
                            <img src="~/Images/Nuget.png" alt="NuGet" />
                        </div>
                        <div>View Package</div>
                    </button>
                </div>
                <div role="listitem">
                    <div class="tools-item-description"><b>Converters</b> - classes for converting the output of various static analysis tools to the SARIF format.</div>
                    <button id="toolsItemConvertersLink" role="button" aria-label="View SARIF Converters NuGet package" href="https://www.nuget.org/packages/Sarif.Converters/" target="_blank" class="tools-item-button sarifweb-button">
                        <div class="tools-item-button-icon">
                            <img src="~/Images/Nuget.png" alt="NuGet" />
                        </div>
                        <div>View Package</div>
                    </button>
                </div>
                <div role="listitem">
                    <div class="tools-item-description"><b>Multitool</b> - Multi-purpose command line tool for analyzing and manipulating SARIF files.</div>
                    <button id="toolsItemMultitoolLink" role="button" aria-label="View SARIF Multitool NuGet package" href="https://www.nuget.org/packages/Sarif.Multitool/" target="_blank" class="tools-item-button sarifweb-button">
                        <div class="tools-item-button-icon">
                            <img src="~/Images/Nuget.png" alt="NuGet" />
                        </div>
                        <div>View Package</div>
                    </button>
                </div>
                <div role="listitem">
                    <div class="tools-item-description"><b>Interop</b> - Library that enables Visual Studio extensions to easily consume services exposed by the SARIF Viewer for VS.</div>                  
                    <button id="toolsItemInteropLink" role="button" aria-label="View SARIF Viewer interop library NuGet package" href="https://www.nuget.org/packages/Sarif.Viewer.VisualStudio.Interop/" target="_blank" class="tools-item-button sarifweb-button">
                        <div class="tools-item-button-icon">
                            <img src="~/Images/Nuget.png" alt="NuGet" />
                        </div>
                        <div>View Package</div>
                    </button>
                </div>
            </div>
        </div>
        <div id="toolsSectionContentOther" role="list" aria-label="Tools and libraries written in other languages" class="tools-item-list">
            <div role="listitem" aria-labelledby="toolsSectionPlatformLabelTypeScript">
                <div class="tools-item-other-label">
                    <div id="toolsSectionPlatformLabelTypeScript" class="tools-section-platform-label-small">
                        TypeScript
                    </div>
                    <div class="path-line-container">
                        <svg class="stretch-horizonal">
                            <line x1="0" x2="100%" y1="50%" y2="50%" class="stroke-1x" />
                            <line x1="100%" x2="100%" y1="0" y2="100%" class="stroke-2x" />
                        </svg>
                    </div>
                </div>
                <div class="tools-item-description tools-other-item-description">Coming soon.</div>
            </div>
            <div role="listitem" aria-labelledby="toolsSectionPlatformLabelJava">
                <div class="tools-item-other-label">
                    <div id="toolsSectionPlatformLabelJava" class="tools-section-platform-label-small">
                        Java
                    </div>
                    <div class="path-line-container">
                        <svg class="stretch-horizonal">
                            <line x1="0" x2="100%" y1="50%" y2="50%" class="stroke-1x" />
                            <line x1="100%" x2="100%" y1="0" y2="100%" class="stroke-2x" />
                        </svg>
                    </div>
                </div>
                <div class="tools-item-description tools-other-item-description">Coming soon.</div>
            </div>
            <div role="listitem" aria-labelledby="toolsSectionPlatformLabelPython">
                <div class="tools-item-other-label">
                    <div id="toolsSectionPlatformLabelPython" class="tools-section-platform-label-small">
                        Python
                    </div>
                    <div class="path-line-container">
                        <svg class="stretch-horizonal">
                            <line x1="0" x2="100%" y1="50%" y2="50%" class="stroke-1x" />
                            <line x1="100%" x2="100%" y1="0" y2="100%" class="stroke-2x" />
                        </svg>
                    </div>
                </div>
                <div class="tools-item-description tools-other-item-description">
                    Python classes for the SARIF object model in <a href="https://github.com/microsoft/sarif-python-om">source form</a>
                    and as a downloadable <a href="https://pypi.org/project/sarif-om">Python module</a>.
                </div>
            </div>
        </div>
    </div>
</section>

<section id="viewersSection" role="region" aria-labelledby="viewersSectionTitle" class="content-section gray-section">
    <a name="Viewers"></a>
    <div id="viewersSectionTitle" role="heading" aria-level="2" class="content-section-title">Viewers</div>
    <div class="content-section-text content-section-description">
        SARIF is based on JSON and can be viewed in any text editor. For a richer experience the following open-source viewers are provided.
    </div>
    <div id="viewersSectionContent" role="list">
        <div role="listitem" class="viewer-card">
            <div id="vsViewerCardTitle" role="heading" aria-level="3" class="viewer-title">
                Visual Studio extension
            </div>
            <div class="viewer-description">
                For viewing and taking-action-on SARIF files within Visual Studio. Analysis results show up in the Error List, result details in a dockable tool window, and the results locations are overlayed on the original code (when available).
            </div>
            <div class="viewer-screenshot">
                <img id="screenshot01" src="~/Images/Screenshots/VSViewer.thumbnail.png" index="0" coloration="dark" role="button" aria-labelledby="vsViewerCardTitle" alt="Visual Studio extension" />
            </div>
            <div class="viewer-buttons">
                <button role="button" aria-label="Install VS Viewer extension" href="https://marketplace.visualstudio.com/items?itemName=WDGIS.MicrosoftSarifViewer" target="_blank" class="sarifweb-button">Install</button>
                <button role="button" aria-label="View VS Viewer extension source code" href="https://github.com/Microsoft/sarif-visualstudio-extension/" target="_blank" class="sarifweb-button">Source</button>
            </div>
        </div>

        <div role="listitem" class="viewer-card">
            <div id="vsCodeViewerCardTitle" role="heading" aria-level="3" class="viewer-title">
                VS Code extension
            </div>
            <div class="viewer-description">
                Same experience as the Visual Studio extension, but for those using Visual Studio Code.
            </div>
            <div class="viewer-screenshot">
                <img id="screenshot02" src="~/Images/Screenshots/VSCodeViewer.thumbnail.png" index="1" coloration="dark" role="button" aria-labelledby="vsCodeViewerCardTitle" alt="VS Code extension" />
            </div>
            <div class="viewer-buttons">
                <button role="button" aria-label="Install VS Code Viewer extension" href="https://marketplace.visualstudio.com/items?itemName=MS-SarifVSCode.sarif-viewer" target="_blank" class="sarifweb-button">Install</button>
                <button role="button" aria-label="View VS Code Viewer extension source code" href="https://github.com/Microsoft/sarif-vscode-extension/" target="_blank" class="sarifweb-button">Source</button>
            </div>
        </div>

        <div role="listitem" class="viewer-card">
            <div id="webViewerCardTitle" role="heading" aria-level="3" class="viewer-title">
                React component
            </div>
            <div class="viewer-description">
                A React-based component for viewing SARIF files.
            </div>
            <div class="viewer-screenshot">
                <img id="screenshot03" src="~/Images/Screenshots/WebViewer.thumbnail.jpeg" index="2" coloration="dark" role="button" aria-labelledby="webViewerCardTitle" alt="React component" />
            </div>
            <div class="viewer-buttons">
                <button role="button" aria-label="Try the React component" href="http://sarifviewer.azurewebsites.net/" target="_blank" class="sarifweb-button">Try</button>
                <button role="button" aria-label="View React component source code" href="https://github.com/Microsoft/sarif-web-component" target="_blank" class="sarifweb-button">Source</button>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/ImageViewer.js"></script>
<script type="text/javascript">
    var imageGallery = null;
    var useImageViewer = false;

    $(function () {
        // See if we should use the image viewer.
        // This property will be unset by a media style if the screen is too small.
        // Edge doesn't like this property, so check window.StyleMedia to identify.
        var flag = $("body").css("content");

        if (flag === "\"image-viewer-active\"" || !!window.StyleMedia) {
            useImageViewer = true;

            imageGallery = [
                "screenshot01",
                "screenshot02",
                "screenshot03"
            ];
        }

        $(".viewer-screenshot").on("click", "img", function () {
            if (useImageViewer) {
                $(this).showImageViewer();
            }
        });

        $("button.sarifweb-button").on("click", function () {
            var sender = $(this);
            var url = sender.attr("href");
            var target = sender.attr("target");

            window.open(url, target);
        });
    });
</script>